= semantic_form_for @family do |form|
  =form.semantic_errors
  =form.inputs do
    =form.input :fathers_first_name
    =form.input :fathers_last_name
    =form.input :mothers_first_name
    =form.input :mothers_last_name
    =form.input :email
    =form.input :household_income, :as => :select, :collection => text_income_brackets, :default => text_income_brackets[0]
    =form.input :wants_info_by_email


  = form.inputs :civic_number, :apartment, :street, :city, :province, :postal_code, :for => :address, :name => Family.human_attribute_name(:address)

  = form.buttons do
    = form.commit_button
    %li.cancel
      = t(:or)
      = link_to t(:cancel), children_path
