#main
  .block
    .secondary-navigation
      %ul
        %li(id='list_families' class='active')= link_to t('list'), families_path
        %li(id='add_family')= link_to t('new'), new_family_path
    .content
      %h2
        = t('family.list')
      .inner
        %table
          %tr
            %th.first ID
            %th= Family.human_attribute_name(:fathers_first_name)
            %th= Family.human_attribute_name(:fathers_last_name)
            %th= Family.human_attribute_name(:mothers_first_name)
            %th= Family.human_attribute_name(:mothers_last_name)
            %th= Family.human_attribute_name(:email)                        
            %th

          - @families.each do |family|
            %tr[family]{ :class => cycle('odd', 'even') }
              %td= link_to family.id, family
              %td= "#{family.fathers_first_name}"
              %td= "#{family.fathers_last_name}"
              %td= "#{family.mothers_first_name}"
              %td= "#{family.mothers_last_name}"
              %td= "#{family.email}"
              %td
                %ul
                  %li= link_to t(:show), family, :class => "show"
                  %li= link_to t(:edit), edit_family_path(family), :class => "edit"
                  %li= link_to t(:delete), family, :class => "delete", :confirm => t(:are_you_sure), :method => :delete
